$primary: rgb(255, 255, 255);
$secondary: rgb(226, 24, 24);
$tertiary: rgb(246, 247, 248);
$quaternary: rgb(28, 130, 173);

.loader-small {
    position: absolute; //relative;
    z-index: 1;
    left: 43%;
    top: 50%;
    border: 24px solid $primary; //#FFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: eat 1s linear infinite;
    opacity: 0.85;
}

.loader-small::after,
.loader-small::before {
    content: '';
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: $primary; //#fff;
    width: 15px; //* pelotita
    height: 15px; //* pelotita
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    animation: move 2s linear infinite;
}

.loader-small::before {
    animation-delay: 1s;
}

@keyframes eat {

    0%,
    49% {
        border-right-color: $primary; //#FFF
    }

    50%,
    100% {
        border-right-color: #0000
    }
}

@keyframes move {
    0% {
        left: 75px;
        opacity: 1
    }

    50% {
        left: 0px;
        opacity: 1
    }

    52%,
    100% {
        left: -5px;
        opacity: 0;
    }
}