/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
  background-color: #000000 !important;
  /*#F9FAFD*/
}


@font-face {
  font-family: "Coffe-Cake";
  src: local("CoffeCake"),
    url('./assets/fonts/CoffeCake.ttf') format("truetype");
}
@font-face {
  font-family: "MADEINFINITY PERSONALUSE-Regular";
  src: local("MADEINFINITY PERSONALUSE-Regular"),
    url('./assets/fonts/MADEINFINITY\ PERSONALUSE-Regular.otf') format("truetype");
}